---
---

@import "{{ site.theme }}";

.button {
  padding: 10px 5px !important;
}

.ds-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  .ds-category {
    background-color: #f4f4f4;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 44%;
    padding: 10px;

    .ds-page {
      margin-bottom: 10px;
    }
  }
}

footer {
  display: flex;
  color: #969494;
  width: 100%;
}

.footer-icon {
  color: red;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}